<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Miles</title>
    <!-- link to stylesheet -->
    <link rel="stylesheet" href="./../css/master.css">
    <!-- link to bootstrap css-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- link to font famil -->
      <link href="https://fonts.googleapis.com/css?family=Niramit" rel="stylesheet">
    <!-- link for fontawsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body id="login">
    <div class="container">
      <div class="row mt-3">
        <div class="col-md-4">

        </div>
        <div class="col-md-4 mt-5  ">
          <div class="text-center">
            <div class="card shadow-lg rounded mt-3">
              <div class="card-title mt-3">
                <h5>login to access Miles</h5>
              </div>
              <div class="card-body ">
                <form class="" action="index.html" method="post">
                  <div class="input-group mt-3">
                    <input type="email" class="form-control" placeholder="Email" name="" value="" required>
                  </div>
                  <div class="input-group mt-3">
                    <input type="password" class="form-control" placeholder="Password" name="" value="" required>
                  </div>
                  <div class="text-center mt-5">
                    <i class="text-primary fa fa-long-arrow-right"></i>
                      <a href="#">Continue</a>
                  </div>
                  <div class="text-center mt-3">
                    <small>
                    <a href="#">  Signin</a>
                    </small>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">

        </div>
      </div>
    </div>
    <!-- link to bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  </body>
</html>
