<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Miles</title>
    <!-- link to stylesheet -->
    <link rel="stylesheet" href="./../css/master.css">
    <!-- link to bootstrap css-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- link to font famil -->
      <link href="https://fonts.googleapis.com/css?family=Niramit" rel="stylesheet">
    <!-- link for fontawsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body id="b">
    <div class="container">
      <div class="row mt-md-5 pt-5">
        <div class="col-md-4 ">

        </div>
        <div class="col-md-4 ">
            <div class="card shadow-lg rounded">
              <div class="card-body">
                <div class="text-center mt-md-5">
                <button type="submit" class="text-center btn btn-primary pl-3 pr-3" name="button">
                  signin
                </button>
              </div>
              <div class="text-center mt-md-5">

                <h6>by pressing sigin your accepting terms and policy of Miles</h6>
              </div>
            </div>
        </div>
      </div>
        <div class="col-md-4 ">

        </div>
      </div>
    </div>
    <!-- link to bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  </body>
</html>
